<div class="container">


  <h3 style="margin: 50px 0 25px 0;">Active Challenges</h3>
  <% if @active_challenges.empty? %>
  <p><i>No active challenges</i></p>
  <% else %>
  <div class="table-responsive">
  <table class="table table-sm table-hover" style="margin-bottom: 25px;">
    <tr>
      <th>start</th>
      <th>end</th>
      <th>participants</th>
      <th></th>
    </tr>
    <% @active_challenges.each do |c| %>
    <tr>
      <td style="width: 150px;"><%= c.started_at.strftime("%Y %b %d") %></td>
      <td style="width: 150px;"><%= c.ended_at.strftime("%Y %b %d") %></td>
      <td style="width: 200px;"><%= c.participants.map(&:name).sort.join(", ") %></td>
      <td><a style="display: block;" href="/challenges/<%= c.id %>">view</a></td>
    </tr>
    <% end %>
  </table>
  </div>
  <% end %>

  <a href="/challenges/new" class="btn btn-success btn-sm">Start a new Challenge</a>

  <a role="button" type="button" class="btn btn-sm btn-outline-primary" href="/challenges" style="margin-left: 10px;">
    See all challenges →
  </a>

  <br />
  <br />
  <iframe style="margin-top: 75px;" src="https://ghbtns.com/github-btn.html?user=abhchand&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="188px" height="30px"></iframe>
</div>
