<div class="container">
  <p style="margin-top: 50px;">The <b>workout challenge</b> is a challenge between two competitors to excercise during a fixed, agreed-upon period.</p>

  <h4>The rules:</h4>

  <ul>
    <li>Two people start a challenge by agreeing upon:</li>
      <ul>
        <li>A start and end date</li>
        <li>A workout target</li>
        <li>A cost ($ figure) per workout</li>
      </ul>
    <li>You get 1 point per workout, up till the workout target is reached</li>
    <li>At the end of the period, the loser pays the winner a difference of $x / workout</li>
    <li>We rely on the honor system of self reporting</li>
    <li>What counts as a workout is self defined, but a good rule of thumb is that it should elevate your heart rate consistently for 15 mins.</li>
  </ul>

  <br />
  <br />
  <iframe style="margin-top: 75px;" src="https://ghbtns.com/github-btn.html?user=abhchand&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="188px" height="30px"></iframe>
</div>
